// Font
$mainFont                : 'Circe';

// Media breakpoints
$desktopWidth            : 1280px;
$smDesktopWidth          : 991px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
