.section-steps
    .container
        .step.step-3.step-success
            .step-heading
                .step-heading__icon
                    include ../../static/img/icons/car.svg
                .step-heading__name Машина 1
            .step-row.tep-row-top
                .step-col
                    .card-view.card-view-rezult
                        .card-view__title.border 
                            span.name Арматура в прутках
                            span.count 11т
                        ul
                            li Класс арматуры: А500С
                            li Номер профиля: 10
                            li Длина: 11700
                            li Стандарт на продукцию: ГОСТ 34028-2016
                    .card-view.card-view-rezult
                        .card-view__title.border 
                            span.name Арматура в прутках
                            span.count 10т
                        ul
                            li Класс арматуры: А500С
                            li Номер профиля: 12
                            li Длина: 11700
                            li Стандарт на продукцию: ГОСТ 34028-2016
                    .card-view.card-view-total
                        .card-view__title.border 
                            span.name Итого
                            span.count 21т
                .step-col
                    .card-view.card-view-default.card-view-translator.border
                        .card-view__title 
                            span.name Кто вывозит:
                        .card-view__description
                            p
                                span.user-name Филиппов Панкратий Геннадиевич
                            p
                                span.user-tel 8 (965) 212-85-06
                    .stages
                        .stages-heading Этапы самовывоза:
                        .stages-wrapper
                            .stages-item.success
                                .stages-item__icon
                                    .stages-item__date
                                        span.data 23.09.2019 
                                        span.time 18:41
                                    include ../../static/img/icons/collect.svg
                                .stages-item__title Мы собираем <br> ваш заказ
                            .stages-item.success
                                .stages-item__date
                                    span.data 24.09.2019 
                                    span.time 10:01
                                .stages-item__icon
                                    include ../../static/img/icons/waiting.svg
                                .stages-item__title Ждём вас <br> сегодня 
                            .stages-item.success
                                .stages-item__date
                                    span.data 27.09.2019 
                                    span.time 14:40
                                .stages-item__icon
                                    include ../../static/img/icons/checked.svg
                                .stages-item__title Товар <br> отгружен
            .step-row.step-row-bottom
                .step-inform
                    .step-inform__title Откуда вывозим?
                    .step-inform__description
                        ul
                            li
                                .icon
                                    include ../../static/img/icons/map-icon.svg
                                .text 249020, Калужская область,
                                    span Боровский район, село Ворсино,  
                                    span улица Лыскина, дом 20
                                    p
                                        a(href='#') Посмотреть на Яндекс Картах
                            li
                                .icon
                                    include ../../static/img/icons/tel-icon.svg
                                .text +7 (495) 116-74-60
                            li
                                .icon
                                    include ../../static/img/icons/mail-icon.svg
                                .text
                                    a(href='#') store@nlmk.com
                            li
                                .icon
                                    include ../../static/img/icons/time-icon.svg
                                .text Склад работает ежедневно и круглосуточно. <br>
                                    a(href='#') Памятка водителю 
                                    | содержит схему проезда, а также описание порядка действий при погрузке.                                 