<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Title</title>

<!-- CSS style links -->
<link rel="stylesheet" href="css/main.css">

<!-- FB -->
<!-- TODO: change content attribute  -->
<meta property="og:title"                   content="" />
<meta property="og:description"             content="" />
<meta property="og:url"                     content="" />
<meta property="og:type"                    content="" />
<meta property="og:image" itemprop="image"  content="img/favicon/apple-touch-icon.png" />
<meta property="fb:app_id" content="идентификатор_вашего_приложения_Facebook" />

<!-- twitter -->
<!-- TODO: change content attribute  -->
<meta name="twitter:card"                   content="img/favicon/apple-touch-icon.png" />
<meta name="twitter:title"                  content="#" />
<meta name="twitter:description"            content="#" />
<meta name="twitter:image"                  content="img/favicon/apple-touch-icon.png" />

<!-- telegram -->
<!-- TODO: change content attribute  -->
<meta property="og:image"                   content="img/favicon/apple-touch-icon.png">
<meta property="og:title"                   content="" />
<meta property="og:site_name"               content=""/>
<meta property="og:description"             content="" />
<meta property="og:image"                   content="img/favicon/apple-touch-icon.png" />

<meta name="description"                    content="" />

<!-- TODO: change content attribute  -->
<link rel="shortcut icon"       href="img/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon"    href="img/favicon/apple-touch-icon.png">
<link rel="apple-touch-icon"    href="img/favicon/apple-touch-icon-16x16.png" sizes="72x72">
<link rel="apple-touch-icon"    href="img/favicon/apple-touch-icon-32x32.png" sizes="114x114">

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color"                    content="#000">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color"  content="#000">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#000">
